{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des annonces
{% endblock %}
{% block body %}

	<div class="container-fluid">

		<h1 class="my-5 text-center">
			Gestion des annonces
		</h1>

		<table class="table table-hover table-bordered" id="ads">
			<thead>
				<tr>
					<th class="text-center">Id</th>
					<th class="text-center">Titre</th>
					<th class="text-center">Auteur</th>
					<th class="text-center">Réservations</th>
					<th class="text-center">Note</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for ad in ads %}


					<tr>
						<td scope="row">{{ad.id}}</td>
						<td>{{ad.title}}</td>
						<td><img src="{{ad.author.picture}}" class="avatar avatar-mini mr-2">{{ad.author.firstname }}
							{{ad.author.lastname}}</td>
						<td>
							<span class="badge badge-primary rounded">{{ad.bookings | length}}</span>
						</td>
						<td>
							<span class="badge badge-primary rounded">{{ad.avgRatings | number_format(1,',','')}}</span>
						</td>
						<td>
							<a href='{{path('admin_delete_ad', {id: ad.id})}}' class="btn btn-danger">
								<i class="fas fa-trash"></i>
							</a>
							<a href='#' class="btn btn-info">
								<i class="fas fa-edit"></i>
							</a>

						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div >
			
			<div class="d-flex justify-content-center">
				<ul class="pagination">
					<li class="page-item {% if page == 1 %} disabled {% endif  %}">
						<a class="page-link" href="{{path('admin_ads' , {'page': 1}) }}">First</a>
					</li>
					<li class="page-item {% if page == 1%} disabled {% endif  %}">
						<a class="page-link" href="{{path('admin_ads' , {'page': (page - 1)}) }}">&laquo;</a>
					</li>
					{% for i in 1..pages %}
						<li class="page-item {% if page == i %} active {% endif %}">
							<a class="page-link" href="{{path('admin_ads' , {'page': i}) }}">{{i}}</a>
						</li>
					{% endfor %}


					<li class="page-item {% if page == pages %} disabled {% endif  %}">
						<a class="page-link" href="{{path('admin_ads' , {'page': (page + 1)}) }}">&raquo;</a>
					</li>
					<li class="page-item {% if page == pages %} disabled {% endif  %}">
						<a class="page-link" href="{{path('admin_ads' , {'page': pages}) }}">Last</a>
					</li>
				</ul>
			</div>
		</div>


	</div>
{% endblock %}


{% block javascripts %}
	{{parent()}}
	<script>
		$(document).ready(function () {
$('#ads').DataTable({

buttons: ['copy', 'excel', 'pdf']
});
});
	</script>
{% endblock %}
