{% extends "base.html.twig" %}
{% block title %}Modification du mot de passe
{% endblock %}
{% block body %}

	<div class="container col-md-4">
        <div class="col-md-4"></div>
		<div class="card ">
			<div class="card-body ">
				{{form_start(form)}}
				{{form_widget(form)}}
				{{form_errors(form)}}
				<button type="submit" class="btn btn-primary">Confirmer</button>
				<a class="btn btn-outline-primary" href="{{path("homepage")}}" >Annuler</a>
				{{form_end(form)}}


			</div>
		</div>
        <div class="col-md-4"></div>
	</div>
{% endblock %}
