{% extends "base.html.twig" %}
{% block title %}Inscription {% endblock %}

{% block body %}

<div class="container">
        <h1 class="text-center">Créer votre compte par ici </h1><br>
        <div class="card">
         <div class="card-body">
        {{form_start(form)}}
        {{form_widget(form)}}
        {{form_errors(form)}}
        <button type="submit" class="btn btn-primary">Confirmer</button>

        {{form_end(form)}}

       
        </div>
        </div>
     </div>

{% endblock %}

{% block javascripts  %}

{{parent()}}

<script>

$('#registration_password').on('input change keyup',function() {

        console.log('test');
        var pwd = $('#registration_password').val();
        if(pwd.match(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$/i) ) {
                        console.log('match');

        } else {
                console.log('unmatch');
        }
              
        
});

</script>

{% endblock %}